#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .box {
        width: 30rem;
        max-width: calc(95vw - 3rem);
        padding: 1.5rem;
        background-color: #FFF;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-shadow: 0.25rem 0.25rem 0.5rem -0.25rem #000;
        border-radius: 1em;
        h2 {
            margin: 0;
            font-size: 2.5rem;
            text-align: center;
        }
        .inputBox {
            display: flex;
            gap: 1rem;
            font-size: 1.5rem;
            input {
                font-size: inherit;
                flex: 1;
                outline: none;
                color: #888;
                border: none;
                border-bottom: 0.1rem solid #888;
                transition: border-color 0.3s, color 0.3s;
            }
            input:focus {
                color: #000;
                border-bottom-color: #000;
            }
            button {
                font-size: inherit;
                padding: 0.25rem 1.5rem;
                color: #FFF;
                background-color: #5B5;
                border: none;
                border-radius: 0.5rem;
                cursor: pointer;
                box-shadow: 0.2rem 0.2rem 0.4rem -0.2rem #000;
                transform: translateY(0);
                transition: transform 0.5s, background-color 0.5s;
            }
            button:hover {
                transform: translateY(-0.1rem);
                background-color: #0B0;
            }
        }
        .errorMessage {
            display: none;
            color: #FFF;
            background-color: #F66;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
        .errorMessage[data-show="true"] {
            display: block;
        }
        .account {
            text-align: center;
            a {
                color: #888;
                transition: color 0.5s;
            }
            a:hover {
                color: #000;
            }
        }
    }
}
